/* Students:
 * =========
 * Add styling to your d3 chart with this file. */
 .tooltip {
    position: absolute;
    width: 140px;
    height: 70px;
    padding: 2px;
    padding-top: 8px;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: #551aaf;
    border: 0;
    border-radius: 10px;
  }
  
  .axisText {
    font-family: sans-serif;
    fill: darkgoldenrod;
    text-anchor: middle;
  }

  .chart {
    background-color: #CFD8DC;
  }

  .active {
    font-weight: bold;
    transition: fill 0.3s ease-out;
  }
  
  .inactive {
    font-weight: lighter;   
    transition: fill 0.3s ease-out;
  }
